.red{
    color: red;
}
.gray{
    color: rgb(70, 70, 70);
}
.taskRow {
   display: flex;
   /* border: 1px solid black; */
   width: 350px;
   min-height: 25px;
   margin:10 px;
}

.title{
    flex-grow: 3;
    margin-left: 10px;
}
.addDialog {
    display: flex;
    width: 350px;
 }
 .striked{
    text-decoration: line-through;
 }
 .check {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 4px;
    cursor: pointer;
}
.checked::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg)
}
.trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
    0 0 0 2px,
    inset -2px 0 0,
    inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
    cursor: pointer;
   }
   
   .trash::after,
   .trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
   }
   
   .trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
   } 

   input[type="button"] {
       margin-left: 20px;
   }