<h3>TaaDaaa! ToDo List</h3>

<div class="taskRow" *ngFor="let task of list">
  <i [ngClass]="{'check': true, 'gray': true, 'checked': task.is_complete}" (click)="put_task(task)"></i>
  <span [ngClass]="{'title': true, 'striked': task.is_complete}">{{task.title}}</span>
  <i class="trash red" (click)="delete_task(task)"></i>
</div>
<div class="addDialog" *ngIf="!displayAddDialog">
  <a href="#" (click)="displayAddDialog=true"> + Add task</a>
</div>
<div class="addDialog" *ngIf="displayAddDialog">
  <input type="text" name="title" [(ngModel)]="addDialog_title" placeholder="Enter new task title" />
  <input type="button" name="save" value="Save" (click)="button($event.target)" />
  <input type="button" name="cancel" value="Cancel" (click)="button($event.target)" />

</div>
<br>
<br>
<span>webapiurl is: {{ webapiurl }}</span>
<br>
<span>Swager docs are <a href="{{ webapiurl }}/ui" target="_blank">here</a></span>
<br>
<span>git sources are <a href="https://bitbucket.org/okelly3/workspace/projects/VCIT" target="_blank">here</a></span>
<!-- uncomment for debug -->
<!-- <div>{{errMsg}}</div> -->
